body {
    background: url("back2.png") no-repeat center center fixed; 
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: none;
}

table {
    margin-left:auto;
    margin-right: auto;
    margin-top: 50 em;
    text-align:center;
    border-collapse:collapse;
}
td {
    padding:5px;
}
thead {
    padding:5px;
    color:white;
    background-color:mediumpurple;
}
tr{
 font-weight: 800;   
}
tr:nth-child(even) {
    background: #e5e5e5
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #696969;
    text-align: right;
}

div{
    text-align: center;
}

input[type = image]{
    position: fixed;
	bottom: 0;
	left: 0;    
}
  

.s {color: #E85039}
.t {color:#FEA934}
.d {color: #50BB8D}

h1 {color: #696969}

p {text-align:bottom;}


